.formControl.error input,
.formControl.error textarea{
    border: solid brown 3px;
}

.formControl.error span {
    color: brown;
}

.formSummaryError {
    border: solid brown 3px;
    padding: 5px;
    color: brown;
}